<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Hirelytic{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/homepage.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    {% block head %}
    {% endblock %}
    
</head>
<body>
    {% block body %}


    <script>
        document.getElementById('logout-link').addEventListener('click', function(e) {
            // 1. Prevent the link from immediately navigating
            e.preventDefault();
            const logoutUrl = this.getAttribute('href');

            // 2. Trigger SweetAlert
            Swal.fire({
                title: 'Sign Out?',
                text: "Are you sure you want to end your session?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3b82f6', // Matching your dashboard blue
                cancelButtonColor: '#ef4444',  // Matching your dashboard red
                confirmButtonText: 'Yes, sign out',
                cancelButtonText: 'Stay logged in',
                reverseButtons: true
            }).then((result) => {
                // 3. If confirmed, proceed to the logout URL
                if (result.isConfirmed) {
                    window.location.href = logoutUrl;
                }
            });
        });
    </script>
    {% endblock %}
</body>
</html>