body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #ffffff;
    color: #111;
}

a {
    text-decoration: none;
    color: #444;
}

.logo {
    width: 30px;
    height: 30px;
}

.navbar {
    width: 95%;
    padding: 15px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Instrument Sans', sans-serif;
    font-weight: bolder;
    font-size: larger;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 25px;
}

.primary-btn {
    background: #2D6CE3;
    border: none;
    color: white;
    padding: 10px 22px;
    border-radius: 6px;
    cursor: pointer;
}

.hero {
    display: flex;
    padding: 80px 160px;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 700;
}

.highlight {
    color: #2D6CE3;
}

.hero-desc {
    max-width: 450px;
    margin-top: 15px;
}

.upload-btn {
    margin-top: 20px;
    background: #2D6CE3;
    color: white;
    border: none;
    padding: 12px 26px;
    border-radius: 6px;
}

.mini-tagline {
    margin-top: 10px;
    font-size: 12px;
    color: #555;
}

.hero-img img {
    width: 480px;
    padding-left: 17rem;
    height: auto;
}

.automation {
    padding: 120px 60px 60px;
    text-align: center;
}

.automation h2 {
    font-size: 36px;
    font-weight: 700;
}

.underline {
    text-decoration: underline;
}

.automation-desc {
    max-width: 750px;
    margin: 20px auto;
    color: #444;
}

.features {
    padding: 80px 60px;
}

.features h2 {
    text-align: center;
    font-size: 32px;
}

.feature-grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.feature-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.icon {
    width: 40px;
    height: 40px;
}

footer {
    padding: 60px;
    text-align: center;
    border-top: 1px solid #eee;
    margin-top: 80px;
}

.footer-btn {
    background: #2D6CE3;
    color: white;
    padding: 10px 24px;
    border-radius: 6px;
    border: none;
}

.footer-login {
    display: block;
    margin-top: 10px;
    color: #666;
}

.btn:hover {
    background-color: gray;
}